{% extends "base.html" %}
{% load staticfiles %}
{% block body %}
<body id="page-top">

    <!-- Barra de Navegação -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">
                <img src="{% static 'img/logo_color.png' %}" class="img-fluid-navbar" alt="">
            </a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon" ></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#page-top">Download</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#features">Sobre</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#contact">Contatos</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Bloco de Download -->
    <header class="masthead">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-lg-7 my-auto">
                    <div class="header-content mx-auto">
                        <img src="{% static 'img/logo_branca.svg' %}" class="img-fluid" alt="">
                        <h6 class="mb-5">MARKETPLACE DE PETS</h6>
                        <p>O aplicativo QuatroPatas está dísponível para sistemas Android e iOS.</p>
                        <a href="https://play.google.com/store?hl=pt_BR" class="">
                            <img src="{% static 'img/google-play-badge.svg' %}" class="img-fluid" alt="">
                        </a>
                        <a href="https://www.apple.com/br/itunes/charts/free-apps/" class="">
                            <img src="{% static 'img/app-store-badge.svg' %}" class="img-fluid" alt="">
                        </a>    
                    </div>
                </div>
                <div class="col-lg-5 my-auto">
                    <div class="device-container">
                        <div class="device-mockup iphone6_plus portrait white">
                            <div class="device">
                                <div class="screen">
                                    <img src="{% static 'img/screen.jpg' %}" class="img-fluid" alt="">
                                </div>
                                <div class="button"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>  
    
    <!-- Pontos principais do App -->
    <section class="features" id="features">
        <div class="container">
            <div class="section-heading text-center">
                <h2>CONHEÇA MAIS NOSSO APP</h2>
                <p class="text-muted">Serviços e produtos de qualidade para o cuidado de seu pet com um preço justo!</p>
                <hr>
            </div>
            <div class="row">
                <div class="col-lg-12 my-auto">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="feature-item">
                                    <img src="{% static 'img/dog.svg' %}" alt="Cuidado e Carinho" class="img-fluid">
                                    <h3>Cuidado e Carinho</h3>
                                    <p class="text-muted">Marketplace que te auxilia a cuidar do seu pet!</p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="feature-item">
                                    <img src="{% static 'img/bathing.svg' %}" alt="Produtos de Qualidade" class="img-fluid">
                                    <h3>Produtos de Qualidade</h3>
                                    <p class="text-muted">Dispomos os melhores produtos, lojas, veterinários e afins!</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="feature-item">
                                    <img src="{% static 'img/syringe.svg' %}" alt="Ótimos Serviços" class="img-fluid">
                                    <h3>Ótimos Serviços</h3>
                                    <p class="text-muted">Oferecemos serviços, como calendário de vacinas, rações indicadas, e até dog walkers!</p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="feature-item">
                                    <img src="{% static 'img/money-bag.svg' %}" alt="Baixo Custo" class="img-fluid">
                                    <h3>Baixo Custo</h3>
                                    <p class="text-muted">Tudo isso por um preço justo!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Bloco de Download -->
    <section class="cta">
        <div class="cta-content">
            <div class="container">
                <h2>O melhor para o seu pet você emcontra no<br>QuatroPatas!</h2>
                <a href="#page-top" class="btn btn-outline btn-xl js-scroll-trigger">Vamos lá. Baixe agora!</a>
            </div>
        </div>
        <div class="overlay"></div>
    </section>
    
    <!-- Bloco de Download -->
    <section class="contact bg-primary" id="contact">
        <div class="container">
            <h2>We<i class="fas fa-heart"></i>new friends!</h2>
            <ul class="list-inline list-social">
                <li class="list-inline-item social-twitter">
                    <a href="#">
                        <i class="fab fa-twitter"></i>
                    </a>
                </li>
                <li class="list-inline-item social-facebook">
                    <a href="#">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                </li>
                <li class="list-inline-item social-google-plus">
                    <a href="#">
                        <i class="fab fa-google-plus-g"></i>
                    </a>
                </li>
            </ul>
        </div>
    </section>
    
    <footer>
        <div class="container">
            <p>&copy; Your Website 2019. All Rights Reserved.</p>
            <ul class="list-inline">
                <li class="list-inline-item">
                <a href="#">Privacy</a>
                </li>
                <li class="list-inline-item">
                    <a href="#">Terms</a>
                </li>
                <li class="list-inline-item">
                    <a href="#">FAQ</a>
                </li>
            </ul>
        </div>
    </footer>
</body>
{% endblock %}